<%= form_for(@depart) do |f| %>
  <% if @depart.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@depart.errors.count, "error") %> prohibited this depart from being saved:</h2>

      <ul>
      <% @depart.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label 'Наисменование:' %><br />
    <%= f.text_field :name %>
  </div>
  <div class="actions">
    <%= f.submit 'Сохранить' %>
  </div>
<% end %>
