<%= form_for(@doctype) do |f| %>
  <% if @doctype.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@doctype.errors.count, "error") %> prohibited this doctype from being saved:</h2>

      <ul>
      <% @doctype.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label 'Наименование:' %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label 'Короткое наименование:' %><br />
    <%= f.text_field :short_name %>
  </div>
  <div class="actions">
    <%= f.submit 'Сохранить' %>
  </div>
<% end %>
