<h1>Список типов документа</h1>

<table>
  <tr>
    <th>Наименование</th>
    <th>Короткое наименование</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @doctypes.each do |doctype| %>
  <tr>
    <td><%= doctype.name %></td>
    <td><%= doctype.short_name %></td>
    <td><%= link_to 'Просмотр', doctype %></td>
    <td><%= link_to 'Редактировать', edit_doctype_path(doctype) %></td>
    <td><%= link_to 'Удалить', doctype, confirm: 'Вы уверены?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Новый тип документа', new_doctype_path %>
