<p id="notice"><%= notice %></p>

<p>
  <b>Логин:</b>
  <%= @user.nickname %>
</p>
<p>
  <b>Фамилия:</b>
  <%= @user.lastname %>
</p>
<p>
  <b>Имя:</b>
  <%= @user.firstname %>
</p>
<p>
  <b>Отчество:</b>
  <%= @user.secondname %>
</p>
<p>
  <b>Филиал:</b>
  <%= @user.depart.name %>
</p>

<p>
  <b>Роль:</b>
  <%= @user.role %>
</p>


<%= link_to 'Редактировать', edit_user_path(@user) %> |
<%= link_to 'Назад', users_path %>
