<p>с

<input id="<%= "attr#{attribute.id}_bgn" %>" name="<%= "attr#{attribute.id}_bgn" %>" class="tcal" readonly="readonly" type="text" value="<%= value_bgn%>" /> 
по
<input id="<%= "attr#{attribute.id}_end" %>" name="<%= "attr#{attribute.id}_end" %>" class="tcal" readonly="readonly" type="text" value="<%= value_end%>" /> 

</p>