<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <%= render 'layouts/stylesheets' %>
  
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "jquery.min.js", "jquery.rails.js" %>
  <%= javascript_include_tag "tcal" %>  
  
  <%= csrf_meta_tags %>
</head>
<body>

<div class="otstup">
</div>

<div id="main">
    <div id="main_content">
	<div class="container">
	    <%= render 'layouts/header' %>
	    <%= render 'layouts/navmenu' %>
	    
	    <% flash.each do |key, value| %>
		<div class="flash <%= key %>"><%= value %></div>
	    <% end %>
	    
	    <%= yield %>
	    
	    <%= render 'layouts/footer' %>
	    
	</div>
    </div>
</div>

</body>
</html>
